/* GENERAL */
* {
  margin: 0;
  box-sizing:border-box;
  
}
 apropos{
  font-weight:1000;
 }

  body{
      width: 21cm;
      height: 29.7cm;
      /* border:10px solid blue; */
      font-family: Open Sans;
  font-weight: 300;
  font-size: .8rem;
  line-height: 1.5;
      /* margin: 30mm 45mm 30mm 45mm;  */
      /* change the margins as you want them to be. */
 } 


/* body {
  width: 100%;
  height: 100%;
  font-family: Roboto;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.5;
} */
content{
  width: inherit;
  height: inherit;
}

a {
  text-decoration: none;
  color: #4472C4;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1rem;
}

h1 {
  margin: 0 0 1rem;
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

h2 {
  margin: 0 0 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-blue {
  color: #4472C4;
}
.text-lightblue {
  color: rgb(182, 198, 238);
}

.text-darkblue {
  color: #002060;
}

.text-uppercase {
  text-transform: uppercase;
}

.suggestion{
  font-weight: 400;
}

.icon {
  margin-right: 0.5rem;
}

.cv-container {
  width: inherit;
  height: 29.7cm;;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left-column right-column right-column";
  /* width: 1200px; */
   padding-right: 0px; 
   margin-right: 0px;
  /* border: 10px solid green; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 
}
.section {
  margin-bottom: 1.5rem;

}
h2{
  margin:0
  }

/* LEFT COLUMN */
.left-column {
  grid-area: left-column;
  padding: 10px;
  background-color: #4472C4;
  color: white;
  padding-left: 13px;
}

.portait {
  border-radius: 100%;
  max-width: 200px;
  margin:auto;
  display: block;
  margin-bottom: 40px;
}

.skills {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin: 0 0 0rem;
}

.logiciels {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 0 0rem;
}

/* RIGHT COLUMN */
.right-column {
  grid-area: right-column;
  margin: 0px;
  padding-right: 0px;
  display: grid;
  box-shadow: 0 1px 3px rgb(255, 255, 255), 0 1px 2px rgb(255, 255, 255);
  grid-template-rows: 230px 1fr;
  grid-template-areas:
    "header"
    "content";
}



/* HEADER */
.header {
  grid-area: header;
  padding: 30px;
  padding-bottom:   30px;
  margin-bottom: 0 px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos {
  columns: 1;
  list-style-type: none;
  padding: 0;
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 18% 82%;
  /* grid-template-rows: 40px 110px 240px 140px 40px 50px 50px 80px 40px 30px 20px ; */
  /* padding: 5px; */
  padding-top: 10px;
  padding-right: 3px;
  margin-bottom: 0rem;
  margin-left: 5px;
  
}

.titre{
  margin-bottom: 0px;
}

.titre1 {
  grid-column: 2/3;
  grid-row: 1/2;
  
}
.dateExp2{
  grid-column: 1/2;
  grid-row: 2/3;
}
.exp2{
  grid-column: 2/3;
  grid-row: 2/3;
}

.dateExp3{
  grid-column: 1/2;
  grid-row: 3/4;
 
}

.exp3{
  grid-column: 2/3;
  grid-row: 3/4;
 
}

.dateExp1{
  grid-column: 1/2;
  grid-row: 4/5;
}

.exp1{
  grid-column: 2/3;
  grid-row: 4/5;
}

.titre2{
  grid-column: 2/3;
  grid-row: 5/6;
  padding: auto;
}

.dateFormation3{
  grid-column: 1/2;
  grid-row: 6/7;
}


.formation3{
  grid-column: 2/3;
  grid-row: 6/7;
}

.dateFormation2{
  grid-column: 1/2;
  grid-row: 7/8;
} 

.formation2{
  grid-column: 2/3;
  grid-row: 7/8;
}


.dateFormation1{
  grid-column: 1/2;
  grid-row: 8/9;
}

.formation1{
  grid-column: 2/3;
  grid-row: 8/9;
}

.titre3 {
  grid-column: 2/3;
  grid-row: 9/10;
}
.autre1 {
  grid-column: 2/3;
  grid-row: 10/11;
}
.dateAutre1{
  grid-column: 1/3;
  grid-row: 10/11;
}

.experience-list {
  list-style-type: circle;
  text-align:left;
  margin-right: 0px;
}